<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Sito ufficiale della ITKA PISA, associazione sportiva affiliata con la sede nazionale ITKA e la scuola ITKA Toscana Chen.">
  <meta name="keywords" content="taijiquan, pisa, arti marziali, kung fu, corsi, stile chen, gabriele finocchiaro, lezioni">

  <meta name="author" content="Raffaele Spataro">

  <title>ITKA PISA</title>
  <link rel="canonical" href="http://www.itkapisa.it" />
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link href="css/grayscale.css" rel="stylesheet">
  <link rel="stylesheet" href="css/animate.min.css">

</head>

{{content}}

  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <p>Copyright &copy; ITKA PISA 2018</p>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>-->
  <!-- Custom scripts for this template -->
  <script src="js/grayscale.min.js"></script>
  <script src="js/myScript.js"></script>

</body>

</html>
